<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Notas{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Estilo para garantir que o rodapé fique na parte inferior da página */
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh; /* Faz com que o corpo ocupe pelo menos 100% da altura da tela */
        }
        .content {
            flex: 1; /* Faz com que a área de conteúdo ocupe o espaço restante */
        }
    </style>
</head>
<body>

    <header class="text-center mt-3"> 
        <h1>Bloco de Notas</h1>
    </header>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('home') }}">Notas</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto"> 
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home') }}">Minhas Notas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('new_note') }}">Adicionar Nota</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto"> 
                    <li class="nav-item">
                        {% if usuario %}
                        <a class="nav-link" href="/perfil">Perfil</a>
                        {% else %}
                        <a class="nav-link" href="/login">Login</a> 
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5 content"> <!-- Adicionada a classe content -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        {% block content %}{% endblock %}
    </div>

    <footer class="bg-light text-center text-lg-start mt-5">
        <div class="container p-4">
            <p class="text-muted mb-1">© 2024 Vitor irapuã.</p>
            <p class="text-muted mb-1">© 2024 Vinícius irapuã. Todos os direitos reservados.</p>
            <div class="d-flex justify-content-center">
                <a href="/termos" class="text-muted mx-2">Termos de Uso</a>
                <span class="text-muted">|</span>
                <a href="/privacidade" class="text-muted mx-2">Política de Privacidade</a>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        // Evita o reenvio dos formulários ao atualizar a página
        if (window.history.replaceState) window.history.replaceState(null, null, window.location.href);</script>
</body>
</html>